.main-pokemon {
  display: flex;
  flex-direction: column;

  margin-top: 100px;
  margin-bottom: 50px;
}

.header-main-pokemon {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  position: relative;
}

.number-pokemon {
  position: absolute;
  top: -130px;
  left: 0;

  font-size: 200px;
  font-weight: 700;
  color: var(--color-primary-hover);
}

.container-img-pokemon {
  order: 2;
  flex: 1;
  padding: 25px 25px 25px 0;
  height: 400px;
}

.container-img-pokemon img {
  height: 100%;
  width: 100%;
}

.container-info-pokemon {
  display: flex;
  flex-direction: column;
  order: 1;
  flex: 1;
  align-items: center;
}

.container-info-pokemon h1 {
  text-align: right;
  font-size: 60px;
}

.info-pokemon {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.group-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.group-info p {
  font-weight: 700;
  font-size: 20px;
}

/* Stats */
.container-stats {
  width: 50%;
  display: flex;
  gap: 50px;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.stat-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stat-group span {
  flex: 20%;
  font-weight: 500;
  font-size: 18px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: var(--color-primary);
  border-radius: 10px;
}

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.moves {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.moves-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unor {
  list-style: none;
  width: 28rem;
  padding: 0px;
  max-height: 15rem;
  overflow-y: auto;
  padding: 5px;
}

.list {
  display: flex;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.list > text {
  font-size: 2rem;
}

.list > p {
  margin: 0;
  font-size: 0.9rem; /* Tamaño del texto */
  color: white; /* Texto en color blanco */
  line-height: 1.2; /* Espaciado entre líneas */
}
